@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2);
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2);
}

.navbar {
  padding: 0 !important;
}

.navbar .dropdown-menu {
  right: 0;
  left: auto;
}

.navbar .container-fluid {
  padding-left: 0;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand a {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px !important;
  color: #141B15 !important;
}

.nav-link {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px;
  padding-bottom: 15px;
}

a.nav-link div {
  font-size: 14px;
  font-weight: 500;
}

a.nav-link, a.nav-link span, a.nav-link div {
  line-height: 20px;
}

.navbar .nav-link {
  color: #141B15 !important;
}

.navbar-brand a:hover, .nav-link:hover, .navbar-left .nav-link.active {
  background-color: #3B9DDE;
  text-decoration: none;
}

@media (max-width: 576px) {

  .navbar-brand a {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .navbar-brand a:hover {
    background-color: #55AAE2;
  }

}

.site-title > div {
  background-color: #55AAE2;
  padding: 15px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 20px;
  width: 100%;
  color: #141B15;
  display: block;
}

.site-title {
  margin-right: 8px;
  margin-bottom: 8px;
  display: block;
}
